<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    deleniti fugiat neque enim incidunt amet rem, et similique nostrum sapiente
    repudiandae est ullam officia delectus, tempora adipisci impedit repellat
    nesciunt.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__company">ABC company</p>
      </div>
    </div>
  </footer>
</blockquote>
